body {
    color: #fff;
    background-color: #121212;
    opacity: 0.95;
}

.Concentrate {
    background-color: #121212;
}

.Pause {
    background-color: #27ae60;
}
   
#title {
    text-align: center;
}

#next {
    text-align: center;
    cursor: pointer;
}

#time {
    font-size: 13rem;
    font-weight: bold;
    text-align: center;
}

.btn {
    width: 49%;
    margin-top: 3px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 2.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    cursor: pointer;
}

#div-btn {
    text-align: center;
}

#volume {
    position: fixed;
    top: 20px;
    left: 20px;
}

#setup, #countdown {
    position: fixed;
    top: 20px;
    right: 30px;
}

.form {
    text-align: center;
    margin: 0 auto;
}
.label {
    width: 240px;
    display: inline-block;
    line-height: 1.5;
    font-weight: bold;
}

.input {
    display: inline-block;
    width: 250px;
}
input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;
}
.divBtn {
    margin-top: 30px;
}
.button {
    background-color: #343a40;
    border-color: #343a40;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 40px;
}


.alert {
    padding: 20px;
    background-color: #4CAF50;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
    max-width: 450px;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .btn {
        display: block;
        width: 100%;
    }
    #time {
        margin-top: 30px;
        font-size: 11rem;
    }
}