body, html{
    color: #fff;
    background-color: #27ae60;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box;}

.Concentrate {
    background-color: #27ae60;
}

.Pause {
    background-color: #27ae60;
}
   
#title {
    text-align: center;
}

#next {
    text-align: center;
    cursor: pointer;
}

#time {
    font-size: 13rem;
    text-align: center;
}

.btn {
    width: 49%;
    margin-top: 3px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 2.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    cursor: pointer;
}

.btn-md {
    font-size: 1.5rem;
}

#div-btn {
    text-align: center;
}

#volume {
    position: fixed;
    top: 20px;
    left: 20px;
}

#setup, #countdown {
    position: fixed;
    top: 20px;
    right: 30px;
}

.form {
    text-align: center;
    margin: 0 auto;
}
.label {
    width: 300px;
    display: inline-block;
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
}

.input {
    display: inline-block;
    width: 150px;
}
input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}


.alert {
    padding: 20px;
    background-color: #2196F3;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
    max-width: 450px;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .btn {
        display: block;
        width: 100%;
    }
    #time {
        margin-top: 30px;
        font-size: 11rem;
    }
}

/* modal */


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper {
    position: relative;
    background-color: #27ae60;
    width: 600px;
    max-width: 100vw;
    max-height: 100vh;
    padding: 20px;
    overflow: auto;
}

.js-close-modal {
    position: absolute;
    right: 3px;
    top: 0px;
    cursor: pointer;
    font-weight: bold;
}